

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>SecurityServlet</servlet-name>
    <servlet-class>SecurityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecurityServlet</servlet-name>
    <url-pattern>/SecurityServlet</url-pattern>
  </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Wildcard means whole app requires authentication</web-resource-name>
      <url-pattern>/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>

    <!-- La configuracion de usuario se localiza en la carpeta de
    tomcat que se hay configurado a la hora de arrancar el proyecto web -->
    <auth-constraint>
      <!--<role-name>tomcat</role-name>-->
      <role-name>admin</role-name>
    </auth-constraint>

    <user-data-constraint>
      <!-- transport-guarantee can be CONFIDENTIAL, INTEGRAL, or NONE -->
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <!--<login-config>
    <auth-method>BASIC</auth-method>
  </login-config>-->
  <!--Defines Login Config -->
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/error.jsp</form-error-page>
    </form-login-config>
  </login-config>
</web-app>
